<app-navbar></app-navbar>

<!-- HERO -->
<div class="container my-5">
  <div class="row align-items-center justify-content-evenly">
    <div class="col-lg-3 col-7">
      <img src="assets/images/1.png" alt="" class="img-fluid" />
    </div>
    <div class="col-lg-6 text-center">
      <h1 class="hero-text">Find innovations only here</h1>
      <p class="hero-p my-2">
        Tech Bliss store provides you with all the electronics you need.
      </p>
      <button class="btn myBtn my-2">Browse now</button>
    </div>
    <div class="col-lg-3 col-7">
      <img src="assets/images/2.png" alt="" class="img-fluid" />
    </div>
  </div>
</div>

<!-- PRODUCTS -->
<div class="mt-5 container">
  <app-popular-products></app-popular-products>
</div>

<div class="sec">
  <div class="overlay">
    <h1>
      Discover your digital delight with <span>Tech Bliss</span>: where
      innovation meets satisfaction!
    </h1>
  </div>
</div>

<!-- Commercial brands -->
<div class="mt-5 container">
  <app-brands></app-brands>
</div>

<app-footer></app-footer>
